# 4.6 Combining & Exporting Data Part 1

## Instacart Grocery Basket Analysis

#### -Errol Hinkamp

##### Table of Contents

1. Import libraries
2. Import data
3. Merge dataframes
4. Export dataframes

# 1. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. Import data

In [2]:
# Import first dataframe
path=r'C:\Users\Errol\Documents\Data Analyst Work\Achievement 4\Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)
# Import second dataframe
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

C:\Users\Errol\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
# Quick visual check of first dataframe
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [4]:
# Quick visual check of second dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Shape check of first dataframe
df_ords.shape

(3421083, 6)

In [6]:
# Shape check of second dataframe
df_ords_prior.shape

(32434489, 4)

In [7]:
# Search for missing values in orders_products_prior dataframe
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [8]:
# Create dataframe of duplicates from orders_products_prior dataframe
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [9]:
# View duplicates dataframe
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

##### Consistency checks are all clear--no duplicates or missing values

# 3. Merge dataframes

In [10]:
# Merge dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
# Quick visual check of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
# Determine whether match is full
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

##### Not really true because it was an inner merge

In [13]:
# Remake dataframe without indicator column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [14]:
# Check shape of merged dataframe
df_merged_large.shape

(32434489, 9)

# 4. Export data

In [15]:
# Export merged dataframe
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))